<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xujia.posturemonitor">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--declare that your app is available to BLE-capable devices only-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light"
        android:name="com.example.xujia.posturemonitor.sensornode.PostureMonitorApplication">
        <service
            android:name="com.example.xujia.posturemonitor.common.BluetoothLeService"
            android:enabled="true" />
        <activity android:name="com.example.xujia.posturemonitor.sensornode.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.xujia.posturemonitor.sensornode.MainActivity"
            android:parentActivityName="com.example.xujia.posturemonitor.sensornode.ConfigActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.xujia.posturemonitor.sensornode.DeviceActivity"
            android:parentActivityName="com.example.xujia.posturemonitor.sensornode.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified" />
    </application>

</manifest>